.char {
    &__bg {
        background-repeat: no-repeat;
        background-size: 2000px;
        background-position: center 65%;
    }

    &__page {
        margin: -30px auto 0 auto;
        height: 650px;
        width: 800px;
        text-transform: uppercase;
    }

    &__data {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 50px 50px 150px 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__faction {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-start;

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            width: 100px;
            margin-bottom: 10px;
        }
    }

    &__guild {
        flex-basis: 50%;
        text-align: right;

        & span:first-of-type {
            margin-bottom: 10px;
        }

        & span {
            display: block;
        }
    }

    &__basic-info {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__professions {
        flex-basis: 50%;
        text-align: right;
        align-self: flex-end;

        & span:first-of-type {
            margin-bottom: 10px;
        }

        & span {
            display: block;
        }

        & ul {
            padding: 0;
            list-style: none;
        }
    }
}
