.chars {
    &__container {
        margin: 0 auto;
        max-width: 1100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__noCharsMsg {
        text-align: center;
    }

    &__card {
        min-width: 300px;
        max-width: 300px;
        height: 100px;
        border: 1px solid var(--color-dark);
        margin: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-position: 45% 46%;
    }

    &__up-group {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        line-height: 0;
    }

    &__icons-group {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-left: 15px;
    }

    &__down-group {
        & div {
            margin-right: 5px;
            text-transform: uppercase;
        }
    }
}

.char {
    &__bg {
        background-repeat: no-repeat;
        background-position: center 60%;
    }

    &__page {
        margin: 0 auto;
        height: 600px;
        width: 800px;
        text-transform: uppercase;
    }

    &__data {
        width: 500px;
        height: 100%;
        box-sizing: border-box;
        padding-bottom: 150px;
        display: flex;
        justify-content: space-between;
    }

    &__basic-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--up {
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                width: 100px;
                margin-bottom: 10px;
            }
        }
    }
}
