@import "fonts";
@import "variables";
@import "mixin";

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--color-text);

    &:visited {
        color: var(--color-text);
    }
}

button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-text);
    font-family: "Montserrat";
    font-size: 14px;
}

input {
    @include form;
    background: transparent;
}

select {
    @include form;
    background: transparent;
}

optgroup,
option {
    @include form;
    background: var(--color-bg);
}

@import "buttons";
@import "header";
@import "auth";
@import "characters";
@import "forms";
