@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-text: #ebbd3d;
  --color-title: #F8B700;
  --color-dark: #644306;
  --color-bg: #16100c;
}

body {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:visited {
  color: var(--color-text);
}

button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-text);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: normal;
}

input {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--color-dark);
  width: 400px;
  padding: 15px;
  color: var(--color-text);
  background: transparent;
}

select {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--color-dark);
  width: 400px;
  padding: 15px;
  color: var(--color-text);
  background: transparent;
}

optgroup,
option {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--color-dark);
  width: 400px;
  padding: 15px;
  color: var(--color-text);
  background: var(--color-bg);
}

.btn__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn--border {
  border: 1px solid var(--color-dark);
  margin: 0 30px;
  padding: 10px 20px;
  text-transform: uppercase;
}

header {
  width: 100%;
  border-bottom: 1px solid var(--color-dark);
  margin-bottom: 50px;
}

header h1 {
  margin: 0;
  display: block;
}

header .fas {
  margin-left: 10px;
}

.header-container {
  margin: 0 auto;
  max-width: 1100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px;
  text-align: center;
  color: var(--color-title);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  display: inline;
  margin-left: 20px;
}

.auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-form div {
  margin-bottom: 40px;
}

.chars__container {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chars__noCharsMsg {
  text-align: center;
}

.chars__card {
  min-width: 300px;
  max-width: 300px;
  height: 100px;
  border: 1px solid var(--color-dark);
  margin: 15px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-repeat: no-repeat;
  background-position: 45% 46%;
}

.chars__up-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chars__name {
  line-height: 0;
}

.chars__icons-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chars__icon {
  margin-left: 15px;
}

.chars__down-group div {
  margin-right: 5px;
  text-transform: uppercase;
}

.char__bg {
  background-repeat: no-repeat;
  background-position: center 60%;
}

.char__page {
  margin: 0 auto;
  height: 600px;
  width: 800px;
  text-transform: uppercase;
}

.char__data {
  width: 500px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.char__basic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.char__basic-info--up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.char__basic-info--up img {
  width: 100px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */