<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>WoW Characters: Error {{status}}</title>
</head>

<body>
    <header>
        <div class="header-container">
            <h1>WoW Characters</h1>
            <nav>
                <span>Already have an account?<i class="fas fa-caret-right"></i>
                    <a href="/auth/login" class="nav__link">Sign in</a></span>
            </nav>
        </div>
    </header>
    <main>
        <div class="error">
            <h1>Error! We found an error {{status}}.</h1>
            <h4>{{message}}</h4>
        </div>
    </main>
</body>

</html>