<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>WoW Characters</title>
</head>

<body>
    <header>
        <h1>WoW Characters</h1>
        <p>{{message}}</p>
        <a href="/chars">Characters list</a>
        <a href="/auth/register">New user</a>
        
    </header>
</body>

</html>