<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        <a href="/chars">Character list</a>
        <a href="/auth/register">New user</a>
        <a href="/auth/login">Login</a>

        <form action="/auth/logout" method="POST">
            <button type="submit" value="Logout">Logout</button>
        </form>
    </header>
</body>

</html>