<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/c4a8f670ae.js"></script>
    <title>WoW Characters: Login</title>
</head>

<body>
    <header>
        <div class="header-container">
            <h1>WoW Characters</h1>
            <nav>
                <span>Need an account?<i class="fas fa-caret-right"></i>
                    <a href="/auth/register" class="nav__link">Sign up</a></span>
            </nav>
        </div>
    </header>
    <main>
        <form action="/auth/login" method="POST" class="auth-form">
            <p>Sign in to your account to manage your  World of Warcraft characters.</p>
            <div>
                <label>
                    <p>Email</p>
                    <input type="text" name="email">
                </label>
            </div>
            <div>
                <label>
                    <p>Password</p>
                    <input type="password" name="password">
                </label>
            </div>
            <button type="submit" class="btn--border">Sign in</button>
        </form>
    </main>
</body>

</html>